@import './mixin.scss';
.container{
    width: 1226px;
    margin:0 auto;
}
a{
    img{
        height: 100%;
        width: 100%;
    }
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

//公共logo
.header-logo{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #FF6600;
    a{
        display: inline-block;
        width: 110px;
        height: 55px;
         &::before{
             content: '';
             @include bgImg(55px,55px,'/imgs/mi-logo.png');
             transition: margin .2s
         }
         &::after{
             display: inline-block;
             content: '';
             @include bgImg(55px,55px,'/imgs/mi-home.png');
         }
         &:hover::before{
             margin-left: -55px;
             transition: margin .2s;
         }
    }
}